cosmic-latte = #FFF8E7

:global
  @import 'normalize.css/normalize.css'
  html
    font-family "futura-pt", sans-serif
    &.wf-loading 
      color transparent
      *
        color inherit !important
  body
    min-width 100vw
    min-height 100vh
    background-color cosmic-latte
