@import '_vars.styl'

.nav
	font-size 2em
	line-height 2
	display flex
	flex-flow row wrap
	justify-content space-around
	align-items center

	a
		padding 1em
		&:global(.active)
			cursor default
			color mainColor
			font-weight bold
			&:hover, &:focus
				text-decoration none
			&:before
				content '❦ '
