extends ~markup/templates/base.pug

block setup
	- helpers = require('markup/helpers')
	- filename = htmlWebpackPlugin.options.filename
	- env = htmlWebpackPlugin.options.env
	- app = helpers.createApp({ filename, env })
	- htmlAttributes = helpers.getHtmlAttributes(app.helmet)
	- bodyAttributes = helpers.getBodyAttributes(app.helmet)

append head
	!= app.helmet.meta.toString()
	!= app.helmet.title.toString()
	!= app.helmet.base.toString()
	!= app.helmet.link.toString()
	!= app.helmet.style.toString()
	!= app.helmet.script.toString()

block body
	script.
		window.__INITIAL_STATE__=!{JSON.stringify(app.initialState)};
	#app
		!= app.html
	block endScripts
		include ~markup/includes/typekit-embed.html
