extends ~markup/templates/base.pug

block setup
  - htmlAttributes = {class: 'wf-loading'}
  - helpers = require('markup/helpers')
  - renderApp = helpers.renderApp
  - publicPath = 'http://pi.simloovoo.com'

append head
  //- TODO move this to Helmet and render based on matched route
  meta(property='og:url', content=`${publicPath}`)
  link(rel='canonical', href=`${publicPath}`)
  meta(property='og:image', content=`${publicPath}${require('assets/images/splash.jpg')}`)
  meta(property='og:type', content='website')
  meta(property='og:description', content='💻 π ☙ diy metaverse')
  script(src="https://use.typekit.net/etb5gcw.js")
  script.
    try{Typekit.load({ async: false });}catch(e){}

block body
  #app
    != helpers.renderApp(htmlWebpackPlugin.options)
    